.grid_12.prefix_2.suffix_2.bottom-margin-20
  %h2 ¿Que es Escribir y ganar?
  Textbroker ist Ihr Marktplatz für einzigartige und exklusiv nach Kundenwunsch erstellte Texte. Dabei verwalten Sie Ihre Aufträge und Texte als Kunde oder Autor über eine komfortable Web-Oberfläche. Bei Textbroker müssen Sie Autoren-Leistungen nicht langwierig ersteigern, sondern arbeiten stets zu unschlagbar günstigen festen Preisen pro Wort, oder wahlweise direkt zu verhandelbaren, flexiblen Tarifen. Dabei übernimmt Textbroker sämtliche Leistungen um den gesamten Prozess für beide Seiten planbar, sicher, komfortabel und seriös abzuwickeln. Mehr über Textbroker erfahren Sie auf unseren separaten Informationsseiten für Kunden und für Autoren. 

.grid_6.prefix_2
  %h2 Para escritores
  Geld verdienen mit der Erstellung von Texten nach Kundenwunsch.
  Sie müssen kein Profi sein, um teilzunehmen. Neben einer guten Rechtschreibung benötigen Sie lediglich Spaß am Texten und eine gesunde Menge an Kreativität.

  %br
  %br
  =link_to "Registrar como escritor", author_signup_path

.grid_6.suffix_2
  %h2 Para clientes
  
  Günstiger Content, maßgeschneidert nach Ihren Anforderungen.

  Über 19.000 Autoren schreiben Ihre
  Fachartikel, Rezensionen, Reiseberichte,
  Übersetzungen u.v.m. in beeindruckendem
  Umfang und zu günstigen Tarifen.        


.clear