.startpage
  .grid_12.prefix_2.suffix_2.bottom-margin-20.alpha
    %h2 ¿Que es XXXXX?
    XXXXX es el mercado de textos exclusivos y únicos en español creados de acuerdo con las especificaciones del cliente. Puede gestionar cualquier tarea como cliente o autor a través de nuestra interfaz. Con XXXXX evita la adquisición de textos mediante tediosas subastas que consumen gran cantidad de tiempo. En su lugar, usted recibe un precio fijo por palabra o, como alternativa, opta por negociar directamente con el fin de conseguir la mejor oferta posible. XXXXX ofrece un lugar de encuentro para el cliente y el autor, así como una gestión cómoda y segura de todos los aspectos de sus necesidades de escritura. Para encontrar más información visite nuestros apartados para Clientes o Autores.

  .grid_6.alpha.prefix_2
    %h2 Para escritores
    %b Gane dinero componiendo textos de acuerdo a las preferencias del cliente
    %br 
    %br
    No necesita ser escritor profesional para participar. Además de ser capaz de hablar, lo único que se requiere es disfrutar escribiendo y tener creatividad.

    %br
    %br
    =#link_to "Registrar como escritor", author_signup_path

  .grid_6.suffix_2.omega
    %h2 Para clientes
    %b Contenido único y personalizado según sus necesidades
    %br
    %br	
    Cientos de autores componen sus anuncios, guías de viajes, artículos profesionales, traducciones y más. Ofrecemos un amplio servicio a un precio asequible.


  .clear